<div class="basicInfo">
  <div class="form-field">
    <mat-form-field class='inputfield'>
      <input matInput name="username" placeholder="Username" [formControl]="username" required="true">
      <mat-error *ngIf="username.invalid"> {{getUsernameErrorMessage()}} </mat-error>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field class='inputfield'>
      <input matInput name="status" placeholder="Status" [formControl]="status" required="true">
      <mat-error *ngIf="status.invalid"> {{getStatusErrorMessage()}} </mat-error>
    </mat-form-field>
  </div>

    <div class="photo"></div>

  <div class="form-field">
    <input name="profilePicture" type="file" ng2FileSelect [uploader]="uploader" [formControl]="profilePicture"
           required="true"><br />
    <button type="button" class="btn btn-success btn-s"
            (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length">
      Upload an Image
      <!--    preview image-->
    </button>
    </div>
  </div>

