<div class="auth">
  <h1>Step 2:</h1>

  <div class="authInfo">
    <mat-form-field class='inputfield'>
      <input matInput name="email" placeholder="Email" [formControl]="email" required="true">
      <mat-error *ngIf="email.invalid"> {{getEmailErrorMessage()}} </mat-error>
    </mat-form-field>
  </div>

  <div class="authInfo">
<!--    <label>Password</label>-->
    <mat-form-field class='inputfield'>
      <input matInput type='password' placeholder="Password" name="password" [formControl]="password" required="true">
      <mat-error *ngIf="password.invalid"> {{getPasswordErrorMessage()}} </mat-error>
      <!--    <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </div>

  <div class="authInfo">
<!--    <label>Confirm password</label>-->
    <mat-form-field class='inputfield'>
      <input matInput name="confirmPass" type='password' placeholder="Confirm password" [formControl]="confirmPass" required="true">
      <mat-error *ngIf="confirmPass.invalid"> {{getNotSameErrorMessage()}} </mat-error>
    <!--  <mat-error *ngIf="confirmPass != password">{{getNotSameErrorMessage()}}</mat-error>-->
    </mat-form-field>
  </div>
  <!--"!confirmPassword.toString().equals(password.toString())"-->
</div>


