<div class="basicInfo">
  <div class="form-field">
    <mat-form-field class='inputfield'>
      <input matInput name="nameOfGroup" placeholder="Name of group" [formControl]="nameOfGroup" required="true">
      <mat-error *ngIf="nameOfGroup.invalid"> {{getGroupNameErrorMessage()}} </mat-error>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field class='inputfield'>
      <input matInput name="status" placeholder="Status" [formControl]="groupDescription" required="true">
      <mat-error *ngIf="groupDescription.invalid"> {{getDescriptionErrorMessage()}} </mat-error>
    </mat-form-field>
  </div>

    <div class="photo"></div>

  <div class="form-field">
    <input name="groupPicture" type="file" ng2FileSelect [uploader]="uploader" [formControl]="groupPicture"
           required="true"><br />
    <button type="button" class="btn btn-success btn-s"
            (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length">
      Upload an Image
      <!--    preview image-->
    </button>
    </div>
  </div>

