<div class="fill-container flex flex-col flex-center">
	<div class="container">
		<h1 class="center m-b-2">Find new friends!</h1>
	</div>
	<div class="small-container">
<!--		<img src="assets/img/cheese.jpg" alt="">-->
    <slideshow [imageUrls]="imageUrlArray"></slideshow>
		<div class="flex flex-col">
			<div class="flex">
				<div class="center p-2">
					<p>create an account</p>
					<a routerLink="/signup" class="button">Signup</a>
				</div>	
				<div class="center p-2">
					<p>or login</p>
					<a routerLink="/login" class="button">Login</a>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <div class="flex flex-col flex-center">
	<div class="center">
		<h1 class="center">Welcome!</h1>
		<hr>

		<div class="small-container">
			<img src="assets/img/cheese.jpg" alt="">
		</div>
		<div class="medium-container">
			<div class="flex flex-col">
				<div class="flex">
					<div class="center p-3">
						<p>create an account</p>
						<a routerLink="/signup" class="button">Signup</a>
					</div>	
					<div class="center p-3">
						<p>or login</p>
						<a routerLink="/login" class="button">Login</a>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
 -->
