slideshow {
  width: 700px;
  height: 80%;
  background-size: cover;
}

.slideshow-container {
  	width: 100%;
  	height: 80%;
  	border: 1px solid white;
  	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
