.swipe-container {
	width:100%;
	height:100%;
	display:flex;
	flex:1;

}

.swipe-notice {
	display:flex;
	padding:1rem;
	flex-direction: column;
	justify-content: center;
	color:white;
	background-color:var(--secondary-bg-color);
	height:100%;
}


.dislike, .like {
	flex:1;
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	font-size:2rem;
	cursor: pointer;
	user-select:none;
	background-color:whitesmoke;
	color:rgba(0,0,0,0.3);
}

.dislike > *, .like > * {
	display:block;

}

group-display {
	max-width:30rem;
	width:100%;
	height:100%;
	overflow-y:auto;
	padding:0 1rem;
	cursor: pointer;
}