<mat-toolbar>
  <span>Create account</span>
</mat-toolbar>
<app-basic-info [accountForm]="accountForm"></app-basic-info>
<app-auth-info [accountForm]="accountForm"></app-auth-info>
<app-interests [accountForm]="accountForm" [values]="interests"></app-interests>
<button mat-button [disabled]="accountForm.pristine || accountForm.invalid" (click)="sendInfo(accountForm.controls['email'].value,
 accountForm.controls['password'].value, accountForm.controls['username'].value, accountForm.controls['status'].value,
 accountForm.controls['profilePicture'].value, accountForm.controls['interests'].value)">Create account!</button>
