<mat-toolbar>
  <span>Create account</span>
</mat-toolbar>
<div class="formCards">
  <div class="formCard">
    <div class="info">
      <h1>General info</h1>
      <div class="photo"></div>

      <mat-form-field class='inputfield'>
        <input matInput name="username" placeholder="Username" [formControl]="username" required="true">
        <mat-error *ngIf="username.invalid"> {{getUsernameErrorMessage()}} </mat-error>
      </mat-form-field>

      <mat-form-field class='inputfield'>
        <input matInput name="status" placeholder="Status" [formControl]="status" required="true">
        <mat-error *ngIf="status.invalid"> {{getStatusErrorMessage()}} </mat-error>
      </mat-form-field>

      <mat-form-field class='inputfield'>
        <input matInput name="email" placeholder="Email" [formControl]="email" required="true">
                <mat-error *ngIf="email.invalid"> {{getEmailErrorMessage()}} </mat-error>
      </mat-form-field>

      <input name="profilePicture" type="file" ng2FileSelect [uploader]="uploader" [formControl]="profilePicture"
             ><br />
<!--      <button type="button" class="btn btn-success btn-s"-->
<!--              (click)="uploader.uploadAll()"-->
<!--              [disabled]="!uploader.getNotUploadedItems().length">-->
<!--        Upload an Image-->
<!--      </button>-->
    </div>

  </div>
  <div class="formCard">
    <div class="info">
      <h1>Password</h1>

      <mat-form-field class='inputfield'>
        <input matInput type='password' placeholder="Password" name="password" [formControl]="password" required="true">
        <mat-error *ngIf="password.invalid"> {{getPasswordErrorMessage()}} </mat-error>
      </mat-form-field>

      <mat-form-field class='inputfield'>
        <input matInput name="confirmPass" type='password' placeholder="Confirm password" [formControl]="confirmPass" required="true">
        <mat-error *ngIf="confirmPass.invalid"> {{getNotSameErrorMessage()}} </mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="formCard">
    <div class="info">
      <interests (valueChange)='onInterestsChange($event)'></interests>
      <p>
        Options selected: {{interests.value.length}}
      </p>
    </div>
    </div>

  <div class="formCard">
    <div class="info">
      <h1>Photos</h1>
      <div class="addPhotos">
<!--        <div *ngFor="let url of urls">-->
<!--          <img [src]="url" class="rounded mb-3" width="200" height="200">-->
<!--        </div>-->
      </div>
      <input type="file" multiple name="urls" (change)="detectFiles($event)">
      <!--    <div class="photos">-->
      <!--      <h1>Add photos</h1>-->
      <!--      <input name="picture1" type="file" ng2FileSelect [uploader]="uploader" [formControl]="picture1"-->
      <!--             required="true"><br />-->
      <!--      <button type="button" class="btn btn-success btn-s"-->
      <!--              (click)="uploader.uploadAll()"-->
      <!--              [disabled]="!uploader.getNotUploadedItems().length">-->
      <!--        Upload an Image-->
      <!--        <img src="https://picsum.photos/200">-->
      <!--      </button>-->
      <!--    </div>-->

    </div>
  </div>
</div>
<button mat-button [disabled]="(accountForm.pristine || accountForm.invalid)" (click)="sendInfo(accountForm.controls['email'].value, accountForm.controls['username'].value,  accountForm.controls['password'].value, accountForm.controls['confirmPass'].value, accountForm.controls['urls'].value)">Create account!</button>
