<mat-toolbar>
  <span>Group account</span>
</mat-toolbar>
<div class="buttons">
  <button mat-button (click)="toSwipe()">Swipe</button>
  <button mat-button (click)="toEdit()">Edit account</button>
</div>
<div class="formCards">
  <div class="formCard">
  <div class="photo"></div>
  <div class="bInfo">
    <label>Name of group</label>
    <label>Description</label>
    <label>Interests</label>
  </div>
  <div class="bInfo" id="infoSelf">
    <label>Group 1</label>
    <label>Welcome to this group :3</label>
    <label>Music, gaming, makeup, animals, festivals</label>
  </div>
</div>
  </div>
