<mat-toolbar>
  <span>Group account</span>
</mat-toolbar>
<div class="buttons">
  <button mat-button (click)="toSwipe()">Swipe</button>
  <button mat-button (click)="toEdit()">Edit account</button>
</div>
<div class="mContainer">
  <div class="formContainer">
    <div class="formCard">
      <div class="photo"></div>
      <div class="bInfo">
        <label>Name of group</label>
        <label>Description</label>
        <label>Interests</label>
      </div>
      <!-- automatiseer dit alles! -->
      <div class="bInfo" id="infoSelf">
        <label>Group1</label>
        <label>Welcome to this group</label>
        <label>Music, gaming, makeup, animals, festivals</label>
      </div>
    </div>
    <div class="box">
      <div class="photos">
        <div class="picture">
          <img src="https://picsum.photos/200" (click)="maximizeImage()">
        </div>
        <div class="picture">
          <img src="https://picsum.photos/200" (click)="maximizeImage()">
        </div>
        <div class="picture">
          <img src="https://picsum.photos/200" (click)="maximizeImage()">
        </div>
        <div class="picture">
          <img src="https://picsum.photos/200" (click)="maximizeImage()">
        </div>
      </div>
    </div>
  </div>
  <div class="groupContainer">
    <h1>Members</h1>
    <div class="groups">
      <div class="group">
        <img src="https://cdn4.iconfinder.com/data/icons/user-15/164/3-512.png" (click)="goToMember()">
      </div>
      <div class="group">
        <img src="https://cdn4.iconfinder.com/data/icons/user-15/164/3-512.png" (click)="goToMember()">
      </div>
      <div class="group">
        <img src="https://cdn4.iconfinder.com/data/icons/user-15/164/3-512.png" (click)="goToMember()">
      </div>
      <div class="group">
        <img src="https://cdn4.iconfinder.com/data/icons/user-15/164/3-512.png" (click)="goToMember()">
      </div>
    </div>
  </div>
</div>
<app-board></app-board>
