<h1>Edit account</h1>
<div class="formCards">
  <div class="formCard">
    <div class="info">
      <h1>General info</h1>
      <div class="photo"></div>

        <mat-form-field class='inputfield'>
          <input matInput name="username" placeholder="Username" [formControl]="username">
          <mat-error *ngIf="username.invalid"> {{getUsernameErrorMessage()}} </mat-error>
        </mat-form-field>

        <mat-form-field class='inputfield'>
          <input matInput name="status" placeholder="Status" [formControl]="status">
          <mat-error *ngIf="status.invalid"> {{getStatusErrorMessage()}} </mat-error>
        </mat-form-field>

        <input name="profilePicture" type="file" ng2FileSelect [uploader]="uploader" [formControl]="profilePicture"
               ><br />
        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()"
                [disabled]="!uploader.getNotUploadedItems().length">
          Upload an Image
        </button>
      </div>

  </div>
  <div class="formCard">
    <div class="info">
      <h1>Password</h1>

        <mat-form-field class='inputfield'>
          <input matInput type='password' placeholder="Password" name="password" [formControl]="password">
          <mat-error *ngIf="password.invalid"> {{getPasswordErrorMessage()}} </mat-error>
        </mat-form-field>

        <mat-form-field class='inputfield'>
          <input matInput name="confirmPass" type='password' placeholder="Confirm password" [formControl]="confirmPass">
          <mat-error *ngIf="confirmPass.invalid"> {{getNotSameErrorMessage()}} </mat-error>
        </mat-form-field>

    </div>
  </div>
  <div class="formCard">
    <div class="info">
      <interests (valueChange)='onInterestsChange($event)'></interests>
      <p>
        Options selected: {{interests.value.length}}
      </p>
    </div>
  </div>

  <div class="formCard">
    <div class="info">
      <h1>Photos</h1>
      <div class="addPhotos">
<!--        <div *ngFor="let url of urls">-->
<!--          <div *ngIf="urls.length <= 4">-->
<!--            <img [src]="url" class="rounded mb-3" width="200" height="200">-->
<!--          </div>-->
<!--        </div>-->
<!--        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="200" height="200">-->
      </div>
      <input type="file" multiple (change)="detectFiles($event)">
<!--    <div class="photos">-->
<!--      <h1>Add photos</h1>-->
<!--      <input name="picture1" type="file" ng2FileSelect [uploader]="uploader" [formControl]="picture1"-->
<!--             required="true"><br />-->
<!--      <button type="button" class="btn btn-success btn-s"-->
<!--              (click)="uploader.uploadAll()"-->
<!--              [disabled]="!uploader.getNotUploadedItems().length">-->
<!--        Upload an Image-->
<!--        <img src="https://picsum.photos/200">-->
<!--      </button>-->
<!--    </div>-->

    </div>
  </div>
</div>
<button mat-button [disabled]="accountForm.pristine || accountForm.invalid" (click)="sendInfo(
 accountForm.controls['pictures'].value, accountForm.controls['interests'].value)">Save edits!</button>
