button {
  margin-top: 50px;
}

.formCards {
  flex-flow: row wrap;
  display: flex;
}

.formCard {
  width: 23%;
  flex: 0 0 24%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  height: 500px;
}

.authInfo {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.photo {
  width: 100px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid white;
  border-radius: 5px;
  background-image: url(/assets/placeholder.png);
  margin-top: 10px;
}

.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 100%;
  /*margin-left: 10px;*/
  width: 100%;
}

/*.basicInfo {*/
/*  padding-top: 10px;*/
/*  padding-left: 10px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

.checkboxes {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 200px;
  margin-bottom: 50px;
}

.addPhotos {
  /*flex-grow: 1;*/
  overflow: scroll;
  flex-shrink: 1;
  padding: 10px;
}

image {
  object-fit: scale-down;
}
