/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.inputfield {
  border: 1px solid black;
  margin-bottom: 20px;
  margin-left: 10px;
}

.auth {
  padding-top: 50px;
  padding-bottom: 60px;
}

/*.error{*/
/*padding-left: 150px;*/
/*  padding-bottom: 100px;*/
/*}*/


.form-field {
  display: flex;
}

.form-field label {
  text-align: right;
  width: 50%;
}
