.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

/*.inputfield {*/
/*  border: 1px solid black;*/
/*  margin-bottom: 20px;*/
/*  margin-left: 10px;*/
/*  border-radius: 5px;*/
/*}*/

.auth {
  padding-top: 10px;
  padding-left: 10px;
  /*padding-bottom: 60px;*/
}

/*.form-field {*/
/*  display: flex;*/
/*}*/

/*.form-field label {*/
/*  text-align: right;*/
/*  width: 45%;*/
/*}*/
