Login info <br>
*Email:
<mat-form-field class='inputfield'>
  <input matInput name="email" [formControl]="email" required="true">
  <mat-error *ngIf="email.invalid"> {{getEmailErrorMessage()}} </mat-error>
<!--      <div class="error">-->
<!--      </div>-->
  <!--    <mat-hint>Hint</mat-hint>-->
</mat-form-field>
<br>
*Password:
<mat-form-field class='inputfield'>
  <input matInput type='password' name="password" [formControl]="password" required="true">
  <mat-error *ngIf="password.invalid"> {{getPasswordErrorMessage()}} </mat-error>
  <!--    <mat-hint>Hint</mat-hint>-->
</mat-form-field>
<br>
*Confirm password:
<mat-form-field class='inputfield'>
  <input matInput name="confirmPass" type='password' [formControl]="confirmPass" required="true">
  <mat-error *ngIf="confirmPass.invalid"> {{getPasswordErrorMessage()}} </mat-error>
<!--  <mat-error *ngIf="confirmPass != password">{{getNotSameErrorMessage()}}</mat-error>-->
</mat-form-field>
<br>
<!--"!confirmPassword.toString().equals(password.toString())"-->
