<h1>Edit group</h1>
<div class="formCards">
  <div class="formCard">
    <h2>Step 1:</h2>
    <div class="photo"></div>
    <div class="basicInfo">
      <mat-form-field class='inputfield'>
        <input matInput name="nameOfGroup" placeholder="Name of group" [formControl]="nameOfGroup" required="true">
        <mat-error *ngIf="nameOfGroup.invalid"> {{getGroupNameErrorMessage()}} </mat-error>
      </mat-form-field>
    </div>
    <div class="basicInfo">
      <mat-form-field class='inputfield'>
        <input matInput name="status" placeholder="Status" [formControl]="groupDescription" required="true">
        <mat-error *ngIf="groupDescription.invalid"> {{getDescriptionErrorMessage()}} </mat-error>
      </mat-form-field>
    </div>
    <div class="basicInfo">
      <input name="groupPicture" type="file" ng2FileSelect [uploader]="uploader" [formControl]="groupPicture"
             required="true"><br/>
      <button type="button" class="btn btn-success btn-s"
              (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length">
        Upload an Image
      </button>
    </div>
  </div>
  <div class="formCard">
    <h2>Step 2:</h2>
    <p>What do you like, pick 5:</p>
    <interests (valueChange)='onInterestsChange($event)'></interests>
    <p>
      Options selected: {{interests.value.length}}
      <mat-error *ngIf="interests.invalid"> {{getNotFiveErrorMessage()}} </mat-error>
    </p>
  </div>
</div>
<button mat-button [disabled]="accountForm.pristine || accountForm.invalid" (click)="sendInfo(accountForm.controls['nameOfGroup'].value, accountForm.controls['groupDescription'].value,
 accountForm.controls['groupPicture'].value, accountForm.controls['interests'].value)">Save edits!
</button>
