<p>What do you like, pick 5:
</p>
<div class="checkboxes">
<!--  <div class="checkbox" *ngFor="let i of values">-->
    <mat-selection-list #l>
      <mat-list-option *ngFor="let i of values">
        {{ i }}
      </mat-list-option>
      <mat-error *ngIf="l.selectedOptions.select.length < 5 || l.selectedOptions.select.length > 5"> {{getNotFiveErrorMessage()}} </mat-error>
    </mat-selection-list>
<!--    <mat-error *ngIf="values.selectedOptions.select.length < 5 ||values.selectedOptions.select.length > 5"> {{getNotFiveErrorMessage()}} </mat-error>-->
<!--    <mat-checkbox>{{ i }}</mat-checkbox>-->
<!--        <div *ngIf="values[i]">{{values.add(i)}}</div>-->
<!--    <mat-error *ngIf="values.size > 5"> {{getNotFiveErrorMessage()}} </mat-error>-->
<!--  </div>-->
<!--  <p>-->
<!--    Options selected: {{values.selectedOptions.selected.length}}-->
<!--  </p>-->
</div>
<p>
  Options selected: {{l.selectedOptions.selected.length}}
</p>
