<mat-toolbar>
  <span>Group Noticeboard</span>
</mat-toolbar>
<div class="buttons">
  <button mat-button>Add Note</button>
</div>
<mat-grid-list cols="5" rowHeight="1:2">
  <!-- Haal cards automatisch op -->
  <mat-grid-tile *ngFor="let notice of notices">
    <mat-card>
      <mat-card-title-group>
      <mat-card-title>{{notice.title}}</mat-card-title>
      <mat-card-subtitle>{{notice.user}}, {{notice.date}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>{{notice.message}}</mat-card-content>
      <mat-card-footer>© Butje BV</mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
