<div class="noticeboard">
  <h1 class="">Noticeboard</h1>
  <div class="buttons">
    <button [routerLink]="['/group-accounts/board/addnotice']" >Add note</button>
  </div>

  <div class="notices">  
    <div class="notice" *ngFor="let notice of notices">
      <h2 class="notice_title">{{notice.subject}}</h2>
      <i class="notice_byline">By: {{notice.postedBy}}, {{notice.created}}</i>
      <div class="notice_content">{{notice.noticeText}}</div>
      <div class="notice_menu">
        <button [routerLink]="['/group-accounts', notice.group, 'board', 'notice', notice.id]" >edit</button>
        <button (click)="removeNotice(notice.id)">remove</button>
      </div>
    </div>
  </div>
</div>
