
	<div class="interests">
	  <div class="checkbox-container">
      <mat-selection-list #list (selectionChange)="change($event, list.selectedOptions)">
        <mat-list-option *ngFor="let i of interests" [value]="i.id">
          {{ i.name }}
        </mat-list-option>
      </mat-selection-list>
<!--	    <div class="checkbox-row" *ngFor="let interest of interests">-->
<!--	    	<input (change)="change($event)" type="checkbox" [id]="interest.id">-->
<!--				<label [for]="interest.id">{{ interest.name }}</label>-->
<!--	    </div>	    -->
	  </div>
	</div>
