<mat-toolbar>
  <span>Create Group account</span>
</mat-toolbar>
    <app-basic-info [accountForm]="accountForm"></app-basic-info>

<!--  <app-photos></app-photos>-->

<app-interests [accountForm]="accountForm" [values]="interests"></app-interests>
<button mat-button [disabled]="accountForm.pristine || accountForm.invalid" (click)="sendInfo(accountForm.controls['nameOfGroup'].value, accountForm.controls['groupDescription'].value,
 accountForm.controls['groupPicture'].value, accountForm.controls['interests'].value)">Create account!</button>
