@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');
/* You can add global styles to this file, and also import other style files */

/* global */
body {
	--primary-color:#2300B4;
	--primary-bg-color:#292D3B;
	--secondary-bg-color:#171726;
  color: black;

	margin: 0;
	padding: 0;
	background-color:#171726;
	font-family: "Quicksand", sans-serif;
}

* {
	box-sizing: border-box;
}

img {
	width:100%;
}

/* margins */
.p-1 {
	padding:1rem;
}

.p-2 {
	padding:2rem;
}

.p-3 {
	padding:4rem;
}

.m-b-1 {
	margin-bottom:1rem;
}

.m-b-2 {
	margin-bottom:2rem;
}


.m-b-3 {
	margin-bottom:4rem;
}


/* colors */
.bg-whitsmoke {
	background-color:whitesmoke;
}

.bg-dark {
	background-color:var(--secondary-bg-color);
}

.bg-primary {
	background-color:var(--primary-color);	
}




/* typography */
.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	text-transform: uppercase;
	padding:.5rem 1rem;
	background-color:var(--secondary-bg-color);
	color:white;
	margin:0;
}

.fancy {  
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

hr {
  border:none;
  border-bottom:1px solid rgba(0,0,0,0.2);
  margin:1rem 0;
}

hr.large {
	margin:2rem 0;
}

.label {
	padding:.2rem .5rem;
	border-radius: 100px;
	background-color:#FF003A;
	color: white;
	font-weight:700;
	font-size:.8rem;
	margin-right:.5rem;
	display: inline-block;
	margin-bottom: .5rem;
}


/* page content */
.app-container {
	height:100vh;
	display:flex;
	flex-direction:column;
}


/******************/
/* framework shit */
/******************/

/* containers */
.container {
	max-width:64rem;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.fill-container {
	width:100%;
	height:100%;
}

.medium-container {
	max-width:46rem;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.small-container {
	max-width:32rem;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.full-height {
	height:100%;
}


/* flex system */
.flex {
	display:flex;
}

/*.flex > * {
	flex:1;
}*/

.flex-col {
	flex-direction:column;
}

.flex-center {
	justify-content: center;
}

.full-center {
	justify-content: center;
	align-items: center;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding:1rem;
}

.content > .card {
	max-width: 1200px;
	margin:auto;
}

.card {	
    background-color:rgba(255,255,255,1);
    min-height:100%;
    border-radius:.5rem;
    display:block;
    padding:1rem;
    overflow-y: auto;
}

.block-list {
	display:flex;
	justify-content: stretch;
	flex-wrap: wrap;
	padding:.5rem;
}

.block-list > * {
	flex:1;
	width:100%;
	min-width:8rem;
	padding:.5rem;
	cursor: pointer;
	background-color:rgba(0,0,0,0);
	transition: .5s;
}

.block-list > *:hover {
	background-color:rgba(0,0,0,0.1);
	transition: 0s;
}

.buttons {
	padding:1rem;
	text-align:left;
	width:100%;
    background-color: var(--secondary-bg-color);
}

.buttons > * {
	margin-right:1rem;
}

.buttons > *:nth-last-child(1) {
	margin:0;
}


/* form */
input:not([type="submit"]) {
  padding:.5rem 1rem;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:.5rem;
}

label[for] {
  margin-right:1rem;
}

.row {
  margin-bottom:1rem;
}


/* buttons */

.button, button {
	background-color: #FFA100;
	color: white;
	padding: .5rem 1rem;
	outline:none;
	border:none;
	font-size:1rem;
	font-weight:800;
	text-transform:uppercase;
	text-decoration: none;
	cursor:pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  background-color: #FFA100;
  /*background-color: lightslategray;*/
  /*box-shadow: 1px 1px 10px 3px lightgrey;*/
  color: white;
  /*border: 1px solid white;*/
  /*border-radius: 5px;*/
}

.mat-toolbar span {
  font-size: 24px;
}

/*button {
  box-shadow: 1px 1px 10px 3px lightgrey;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #FFA100;
  margin-top: 50px;
}
*/