/* You can add global styles to this file, and also import other style files */

/* global */
body {
	margin: 0;
	padding: 0;

}

* {
	box-sizing: border-box;
}

.app-container {
	height:100vh;
	display:flex;
	flex-direction:column;
}


/* buttons */

.button {
	background-color: red;
	color: white;
	border-radius: 100px;
	padding: 1rem;	
}


.content {
    flex: 1;
    overflow-y: auto;
    padding:1rem;
}