nav.main-menu {
	display:flex;
	/*padding:1rem;*/
	background-color:#292D3B;
	justify-content: space-between;
	align-items: center;
}

.menu_item {
	padding:1rem 1rem;
	margin-right:.5rem;
	text-decoration: none;
	font-weight:700;
	text-transform: uppercase;
	color:white;
	cursor:pointer;
	display:block;
}

.menu_item:hover {
	box-shadow:0 0 0 100px rgba(0,0,0,0.2) inset;
}

.menu_area {
	display:flex;
	padding:1rem;
}

.logo {
	padding:0;
	margin:0;
	height:3rem;
	display:block;
}