<h1>Your account</h1>
<div class="buttons">
  <button (click)="toSwipe()">Swipe</button>
  <button (click)="toEdit()">Edit account</button>
  <button (click)="toNewGroupAccount()">Create new group</button>
</div>
<div class="mContainer">
  <div class="formContainer">
    <div class="formCard">
      <div class="photo"></div>
      <table>
        <tbody>
          <tr>
            <th>Username</th>
            <td>{{ username }}</td>
          </tr>

          <tr>
            <th>Interests</th>
            <td>{{ interests ? interests.join(', ') : '-' }}</td>
          </tr>
        </tbody>
      </table>
<!--      <div class="bInfo">-->
<!--        <label>Username</label>-->
<!--        <label>Status</label>-->
<!--        <label>Interests</label>-->
<!--        <label>Owner of</label>-->
<!--      </div>-->
<!--      <div class="bInfo" id="infoSelf">-->
<!--        <label>{{username}}</label>-->
<!--        <label>{{status}}</label>-->
<!--        <label>Music, gaming, makeup, animals, festivals</label>-->
<!--        <a href="http://localhost:4200/group-accounts/view">Group1</a>-->
<!--      </div>-->
    </div>
    <div class="box">
      <div class="photos">
        <div class="picture" *ngFor="let picture of pictures">
          <img [src]="picture" (click)="maximizeImage(image)">
        </div>
      </div>
    </div>
  </div>
  <div class="groupContainer">
    <h1>Groups</h1>
    <div class="block-list">
      <div class="block-list_item" *ngFor="let group of groups" (click)="goToGroup(group.id)">
        <h3>{{group.name}}</h3>
        <img src="https://previews.123rf.com/images/sudowoodo/sudowoodo1701/sudowoodo170100036/70805674-diverse-group-of-people-students-or-workplace-cute-and-simple-flat-cartoon-style-isolated-vector-ill.jpg">
      </div>
      <!-- <div class="group">
        <img src="https://previews.123rf.com/images/sudowoodo/sudowoodo1701/sudowoodo170100036/70805674-diverse-group-of-people-students-or-workplace-cute-and-simple-flat-cartoon-style-isolated-vector-ill.jpg" (click)="goToGroup()">
      </div>
      <div class="group">
        <img src="https://previews.123rf.com/images/sudowoodo/sudowoodo1701/sudowoodo170100036/70805674-diverse-group-of-people-students-or-workplace-cute-and-simple-flat-cartoon-style-isolated-vector-ill.jpg" (click)="goToGroup()">
      </div>
      <div class="group">
        <img src="https://previews.123rf.com/images/sudowoodo/sudowoodo1701/sudowoodo170100036/70805674-diverse-group-of-people-students-or-workplace-cute-and-simple-flat-cartoon-style-isolated-vector-ill.jpg" (click)="goToGroup()">
      </div> -->
    </div>
  </div>
</div>
