.photo {
  width: 100px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  border-radius: 5px;
  background-image: url(/assets/placeholder.png);
  display: inline-block;
  /*float: left;*/
}

label {
}

.bInfo {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin: 10px;
}

#infoSelf {
  width: 200px;
  margin-left: 30px;
}

.personalInfo {
  display: flex;
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
}

.buttons {
  display: inline-block;

}

button {
  /*display: inline-blockinline;*/
  /*margin-top: 10px;*/
}
