<mat-toolbar>
  <span>Your account</span>
</mat-toolbar>
<div class="buttons">
  <button mat-button (click)="toSwipe()">Swipe</button>
  <button mat-button (click)="toEdit()">Edit account</button>
  <button mat-button (click)="toNewGroupAccount()">Create new group</button>
</div>
<div class="mContainer">
  <div class="formContainer">
    <div class="formCard">
      <div class="photo"></div>
      <div class="bInfo">
        <label>Username</label>
        <label>Status</label>
        <label>Interests</label>
        <label>Owner of</label>
      </div>
      <div class="bInfo" id="infoSelf">
        <label>Joyce0398</label>
        <label>I like sleeping zzz</label>
        <label>Music, gaming, makeup, animals, festivals</label>
        <a href="http://localhost:4200/group-accounts/view">Group1</a>
      </div>
    </div>
    <div class="box">
      <div class="photos">
        <div class="picture">
          <img src="https://picsum.photos/200" (click)="maximizeImage(image)">
        </div>
        <div class="picture">
          <img src="https://picsum.photos/200" (click)="maximizeImage(image)">
        </div>
        <div class="picture">
          <img src="https://picsum.photos/200" (click)="maximizeImage(image)">
        </div>
        <div class="picture">
          <img src="https://picsum.photos/200" (click)="maximizeImage(image)">
        </div>
      </div>
    </div>
  </div>
  <div class="groupContainer">
    <h1>Groups</h1>
    <div class="groups">
      <div class="group">
        <img src="https://cdn4.iconfinder.com/data/icons/user-15/164/3-512.png" (click)="goToGroup()">
      </div>
      <div class="group">
        <img src="https://cdn4.iconfinder.com/data/icons/user-15/164/3-512.png" (click)="goToGroup()">
      </div>
      <div class="group">
        <img src="https://cdn4.iconfinder.com/data/icons/user-15/164/3-512.png" (click)="goToGroup()">
      </div>
      <div class="group">
        <img src="https://cdn4.iconfinder.com/data/icons/user-15/164/3-512.png" (click)="goToGroup()">
      </div>
    </div>
  </div>
</div>
