<mat-toolbar>
  <span>Your account</span>
</mat-toolbar>
<div class="buttons">
  <button mat-button (click)="toSwipe()">Swipe</button>
  <button mat-button (click)="toEdit()">Edit account</button>
  <button mat-button (click)="toNewGroupAccount()">Create new group</button>
</div>
<div class="formCards">
  <div class="formCard">
      <div class="photo"></div>
      <div class="bInfo">
        <label>Username</label>
          <label>Status</label>
          <label>Interests</label>
          <label>Owner of</label>
      </div>
      <div class="bInfo" id="infoSelf">
        <label>Joyce0398</label>
        <label>I like sleeping zzz</label>
        <label>Music, gaming, makeup, animals, festivals</label>
          <a href="http://localhost:4200/group-accounts/view">Group1</a>
      </div>
    </div>
  </div>

