.formCards {
  flex-flow: row wrap;
  display: flex;
}

.formCard {
  flex: 0 0 55%;
  /*border: 1px solid black;*/
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
}

.photo {
  width: 100px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid white;
  border-radius: 5px;
  background-image: url(/assets/placeholder.png);
  display: flex;
}

label {
  display: block;
  margin-bottom: 10px;
}

.bInfo {
  padding: 10px;
  text-align: left;
  /*flex: 1;*/
}

.buttons {
  display: inline-block;

}

.photos{
  display: flex;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.picture {
  padding: 10px;
  max-width: 200px;
}

.picture img {
  height: 150px;
}

.group {
  padding: 10px;
}

.group img {
  width: 175px;
  height: 175px;
  display: block;
}

img {
  border: 1px solid white;
  border-radius: 5px;
}

.box {

}

.groupContainer {
  width: 400px;
  flex-shrink: 0;
}

.formContainer {
  flex: 1;
}

.mContainer {
 display: flex;
}

span {
  font-size: 24px;
}

h1 {
  background-color: #FFA100;
  box-shadow: 1px 1px 10px 3px lightgrey;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  margin: 10px;
  box-shadow: 1px 1px 10px 3px lightgrey;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #FFA100;
}

table th,
table td {
  text-align: left;
  padding: 5px 25px;
}
